package ui

templ Card() {
	<div>
		<button
			type="button"
			class="btn-warning"
			hx-trigger="click"
			hx-post="/ping"
			hx-swap="innerHTML"
		>Ping </button>
		<button
			type="button"
			class="btn-secondary"
			hx-trigger="click"
			hx-post="/ping"
			hx-swap="innerHTML"
		>Ping </button>
		<button
			type="button"
			class="btn-primary"
			hx-trigger="click"
			hx-post="/ping"
			hx-swap="innerHTML"
		>Ping </button>
	</div>
}
