package ui

templ Button(text string) {
	<button
		type="button"
		class="bg-destructive w-24 p-2 rounded-xl shadow-xl text-destructive-foreground font-bold"
		hx-trigger="click"
		hx-post="/ping"
		hx-target="#ping"
		hx-swap="innerHTML"
	>{ text }</button>
}
