package components

templ NavItems(items []string) {
	<ul>
		for _, item := range items {
			<li
				class="text-primary hover:text-blue-100 hover:cursor"
				hx-get="/content"
				hx-target="#main-content"
				hx-trigger="click"
			>{ item }</li>
		}
	</ul>
}

templ Nothing() {
}

var ping = true

templ Ping() {
	<div>
		<h3 className="bg-red-100">
			{ pingText() }
		</h3>
	</div>
}

func pingText() string {
	ping = !ping
	if ping {
		return "pong"
	}
	return "ping"
}
