package components

var ping = true

templ Ping() {
	<div>
		<h3 className="bg-red-100">
			{ pingText() }
		</h3>
	</div>
}

func pingText() string {
	ping = !ping
	if ping {
		return "pong"
	}
	return "ping"
}
